affine==2.3.0
earthengine_api==1.7.15
geojson==3.2.0
geopandas==1.0.1
matplotlib==3.11.1
numpy==2.5.1
opencv_python==4.12.0.88
opencv_python_headless==4.13.0.92
pandas==3.0.3
pdal==3.5.4
pykrige==1.7.3
rasterio==1.4.3
Requests==2.34.2
rioxarray==0.21.0
scikit_learn==1.9.0
scipy==1.18.0
Shapely==2.1.2
skimage==0.0
xarray==2025.10.1
